alabaster==0.7.12
asn1crypto==0.24.0
Beaker==1.10.1
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
cryptography==2.7
Flask==1.0.3
Flask-pyoidc==2.0.0
future==0.17.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
jwt==0.6.1
Mako==1.0.12
MarkupSafe==1.1.1
oic==0.12.0
pycparser==2.19
pycryptodomex==3.8.2
pyjwkest==1.4.0
pyOpenSSL==19.0.0
requests==2.22.0
six==1.12.0
urllib3==1.25.8
Werkzeug==0.15.4
